body {
  /* position: relative; */
  margin: 0;
  font-family: "Belanosima", sans-serif;
  background-image: url(https://6a757177d5.cbaul-cdnwnd.com/82fa68df3854b577ccd1491d936148cf/200000002-9906b9a028/photo-1510148199876-8a856ee41d42-2.jpeg?ph=6a757177d5);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main {
  padding-top: 150px;
  padding-bottom: 80px;
}

.titulo {
    padding-top: 5%;
    text-align: center;
    color: red;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    font-family: 'Attena', sans-serif;
    font-size: 50px;
  }
  
  .container1{
    display:inline-table;
    margin: 30px 50px 30px 50px;
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  .one {
    background-color: red;
  }
  
  .two {
    background-color: rgb(36, 43, 40);
  }
  
  .bebida {
    width: 55%;
    height: 110%;
    border-radius: 15%;
    max-width: 100%;
    padding-bottom: 5%;
  }
  
  .img2 {
    float: right;
    margin-left: 3%;
  }
  
  .parrafo > p {
    margin-top: 2%;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
  }

  .parrafo :first-child {
    font-size: 25px;
    font-family: 'Attena';
  }
  
  .parrafo1 {
    float: right;
    margin-right: 2%;
  }
  
  .parrafo2 {
    float: left;
    margin-left: 2%;
  }
  
  .cajaGrande {
    border-radius: 5%;
    float: left;
    width: 21%;
    height: 28%;
    padding: 2%;
    overflow: hidden;
    margin: 2%;
    box-shadow: 10px 10px 10px whitesmoke;
    transition: transform 0.3s;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .cajaGrande:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px red;
  }
  
  @media (max-width: 1199px) {
    .cajaGrande {
      border-radius: 5%;
      float: left;
      width: 29%;
      height: 32%;
      overflow: hidden;
      margin: 1%;
      box-shadow: 10px 10px 10px whitesmoke;
      transition: transform 0.3s;
    }
  
    .cajaGrande:hover {
      transform: scale(1.05);
      box-shadow: 10px 10px 10px red;
    }
  
    .bebida {
      width: 40%;
      height: 95%;
      border-radius: 15%;
      max-width: 100%;
    }
  
    .img2 {
      float: right;
      margin-left: 1%;
    }
  
    .parrafo {
      font-size: 120%;
    }
  }
  
  @media (max-width: 999px) {
    .cajaGrande {
      border-radius: 5%;
      float: left;
      width: 36%;
      height: 45%;
      overflow: hidden;
      margin: 3%;
      box-shadow: 10px 10px 10px whitesmoke;
      transition: transform 0.3s;
      padding: 1.5%;
    }
  
    .cajaGrande:hover {
      transform: scale(1.05);
      box-shadow: 10px 10px 10px red;
    }
  
    .bebida {
      width: 50%;
      height: 95%;
      border-radius: 15%;
      max-width: 100%;
    }
  
    .img2 {
      float: right;
      margin-left: 1%;
    }
  
    .parrafo {
      font-size: 130%;
    }
  }
  
  @media (max-width: 800px) {
    .cajaGrande {
      border-radius: 5%;
      width: 42%;
      height: 20%;
      overflow: hidden;
      margin: 3%;
      box-shadow: 10px 10px 10px whitesmoke;
      transition: transform 0.3s;
    }
  
    .cajaGrande:hover {
      transform: scale(1.05);
      box-shadow: 10px 10px 10px red;
    }
  
    .bebida {
      width: 55%;
      height: 95%;
      border-radius: 15%;
      max-width: 100%;
    }
  
    .img2 {
      float: right;
      margin-left: 1%;
    }
  
    .parrafo {
      font-size: 80%;
    }
  }
  