
@font-face {
  font-family: 'Attena';
  src: url(../fonts/attena-webfont.woff) format('woff')
}
@font-face {
  font-family: 'Pragmatica Extralight';
  src: url(../fonts/Pragmatica-ExtraLight.woff) format('woff');
}
body{
  margin: 0 auto;
 padding: 0;
 box-sizing: border-box;
 background-image: url(https://6a757177d5.cbaul-cdnwnd.com/82fa68df3854b577ccd1491d936148cf/200000002-9906b9a028/photo-1510148199876-8a856ee41d42-2.jpeg?ph=6a757177d5);
 
 background-image: url(https://6a757177d5.cbaul-cdnwnd.com/82fa68df3854b577ccd1491d936148cf/200000002-9906b9a028/photo-1510148199876-8a856ee41d42-2.jpeg?ph=6a757177d5);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 
 }
 main{
  padding-top: 13rem;
 }

 .titulo{
  font-family: 'Attena', sans-serif;
  font-size: 5rem;
  text-align: center;
  color: #842001;
  background-color: #e0d0c1;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
 }

@media (max-width: 600px) {
  .titulo {
    font-size: 30px;
  }
}
.conteinercomida{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px;
  justify-content: center;
  align-items: center;
}


figure{
  text-align: center;
   
} 

img{
 max-width: 100%;
  
}
.comida1{
  background-color:  #e0d0c1;
  max-width: 80%;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  /* align-self: center; */
  justify-self: center;
}

.comida2{
  background-color:#842001;
  margin:  0px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding: -1px;
}
.info-product{
  padding: 15px 30px;
  line-height: 1;
  font-family: 'Attena', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 30px;
  color: #e0d0c1;
}
.comida2 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
    
}
.comida2 figure{
  overflow: hidden;
}
img:hover{
  transform: scale(1.2);
}
p{
  font-size: 18px;
  font-weight: 900;
  color: rgb(0, 0, 0);
}
.info-product button{
  border: none;
  background: none;
  background-color: black;
  color:  #e0d0c1;
  font-family: 'Pragmatica Extralight', serif;
  padding: 15px 10px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .conteinercomida {
    display: flex;
    flex-wrap: wrap;
  }
}

.up {
  position: fixed;
  right: 5px;
  height: 50px;
  bottom: 60px;
  color: rgb(255, 255, 255);
  font-size: 50px;
  width: 50px;
  height: 60px;
}

footer p {
  color: #e0d0c1;
}
  /*fin de comidas*/