/* postres    */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Attena';
  src: url(../fonts/attena-webfont.woff) format('woff')
}

@font-face {
  font-family: 'Pragmatica Extralight';
  src: url(../fonts/Pragmatica-ExtraLight.woff) format('woff');
}

body{
 margin: 0 auto;
padding: 0;
box-sizing: border-box;

}

main {
  padding-top: 13rem;
}

.titulo{
  font-family: 'Attena', sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #842001;
}

img{
  max-width: 100%;
min-height: 100%;
}

figure{
  text-align: center;
}

header{
  display: flex;
  justify-content:space-between;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  padding: 5%;
  
  }

  .gallery__item {
    background-color: #e0d0c1;
    max-width: 80%;
    padding: 5%;
    border-radius: 10px;
  }
    
  .gallery-cajita {
    background-color:#842001;
    margin:  3%;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    display: grid;
  }


  .info-product{
    padding: 5% 5%;
    line-height: 1;
    font-family: 'Attena', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 3%;
  }


  .gallery-cajita img{
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
  }

  .gallery-cajita figure{
    overflow: hidden;
      }
    

  img:hover{
    transform: scale(1.2);
  }

.precio{
  font-size: 18px;
  font-weight: 900;
  color: black;
}

.info-product button{
  border: none;
  background: none;
  background-color: black;
  color:  #e0d0c1;
  font-family: 'Pragmatica Extralight', serif;
  padding: 15px 10px;
  cursor: pointer;
}


@media  (min-width:200px) {
  .gallery-container{
  grid-template-columns:repeat(1, 1fr);
  }
}

@media (min-width:300px) {
.gallery-container {
  grid-template-columns: repeat(2, 1fr );

}

}

@media (min-width:768px) {
.gallery-container {
  grid-template-columns: repeat(3, 1fr );

}
}

@media (min-width:1024px) {
.gallery-container{
grid-template-columns:repeat(3, 1fr);
}
}


