@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
.tabla {
    column-count: 2;
}

body{
    margin: 0;
    background-image: url(https://6a757177d5.cbaul-cdnwnd.com/82fa68df3854b577ccd1491d936148cf/200000002-9906b9a028/photo-1510148199876-8a856ee41d42-2.jpeg?ph=6a757177d5);
    font-family: "Belanosima", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

h1 {
    color: red;
    text-shadow: 1px 2px 2px black;
    text-align: center;
    font-size:xx-large;

}

div.Galeria{
    background-color: rgba(0, 0, 0, 0.637);
    margin: 10px 20px;
    width: 350px;
    float: left;
    
}
div.Galeria img{
    width: 300px;
    height: 300px;
    border-radius: 20%;
    align-items: center;
  
}

div.Galeria:hover{
border: 1px brown;
transform: rotate(-3deg);
}

div.pie{
    text-align: center;
    color: white;
    padding: 10px;
}

