@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");

* {
  box-sizing: border-box;
}
#inicio {
  align-items: center;
}

body {
  margin: 0;
  font-family: "Belanosima", sans-serif;
  background-image: url(https://6a757177d5.cbaul-cdnwnd.com/82fa68df3854b577ccd1491d936148cf/200000002-9906b9a028/photo-1510148199876-8a856ee41d42-2.jpeg?ph=6a757177d5);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*inicio*/
.logo {
  margin-left: 19px;
  margin-right: 10px;
  padding: 24px;
  font-size: 25px;
  color: red;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-bar {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  display: block;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  width: 100%;
}

.menu,
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu {
  background: rgb(0, 0, 0);
  width: 100%;
  margin-left: -100%;
  transition: all 0.5s;
}
.menu__link {
  display: block;
  padding: 30px;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

.submenu {
  height: 0;
  overflow: hidden;
  transition: all 0.2s;
}

.submenu .menu__link {
  background: black;
  padding-left: 55px;
}
.menu__link:hover {
  background: red;
}
.submenu .menu__link:hover {
  background-color: rgb(255, 0, 0);
}
.mostrar {
  margin-left: 0;
}

@media (min-width: 1024px) {
  .nav-bar {
    display: none;
  }
  .menu {
    margin-left: 0;
    display: flex;
  }
  .container-submenu {
    position: relative;
  }
  .submenu {
    position: absolute;
    top: 81px;
    width: 200px;
    overflow: visible;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
  }
  .container-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
  }
}

/*fin de menu*/


h1 {
  text-align: center;
  color: red;
  text-shadow: rgb(0, 0, 0) 2px 2px 2px;
  font-size: 50px;
}

.comida > table {
  color: white;
  background-color: rgba(0, 0, 0, 0.637);
  padding: 20px;
  font-size: 20px;
  margin: 20px;
}

.comida {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pizza {
  border-radius: 50%;
  max-width: 40%;
  font-size: 30px;
}
.emp {
  border-radius: 50%;
  max-width: 40%;
  font-size: 30px;
}
#n {
  color: red;
  font-size: 30px;
  text-shadow: rgba(255, 255, 255, 0.507) 1px 2px 3px;
  margin-left: 10px;
}
/*fin de comidas*/

.container {
  display: grid;
  grid-template-columns: 0.2fr 3fr 0.5fr; /* crea tres columnas cada una de diferente tamaño */
  gap: 10px; /* Espacio entre columnas*/
  margin: 30px 50px 30px 50px;
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
}

.item1,
.item2,
.item3 {
  padding: 10px;
  /*background-color: blue;*/
}

.item1 img {
  border-radius: 50px;
  text-align: center;
}
/*
.item1{
  background-color: red;
}*/

.item2 p {
  font-size: 20px;
}

.item3 {
  text-align: right;
}

.container2 {
  display: grid;
  grid-template-columns: 5fr 1fr; /* crea dos columnas cada una de diferente tamaño */
  gap: 10px; /* Espacio entre columnas*/
  margin: 30px 50px 30px 50px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(119, 50, 50, 0.671);
  margin-bottom: 50px;
  color: white;
}

.container2 h2 {
  padding-left: 10px;
  font-size: 20px;
}

.item1b {
  /* background-color: red;*/
  padding: 10px;
  font-size: 20px;
}

.item2b {
  /*background-color:blue;*/
  text-align: center;
  font-size: 20px;
}

/*fin de desayuno y meriendas*/

#ubicacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.651);
}

.texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  color: white;
  margin: 0 auto;
  padding: 10px;
  background: rgba(0, 0, 0, 0.651);
  border: 5px solid rgba(0, 0, 0, 0.651);
  border-radius: 5%;
}

.texto h3 {
  font-size: 44px;
  margin: 2px;
}

.texto p {
  font-size: 30px;
}
.google-map {
  margin: 10px auto;
  width: fit-content;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.651);
  border-radius: 5%;
}

.google-map iframe {
  height: 400px;
  width: 480px;
  max-width: 100%;
  left: 0;
  top: 0;
  border-radius: 5%;
}

#historia {
  color: white;
  background: rgba(0, 0, 0, 0.651);
  margin: 90px;
  padding: 10px;
  border: rgba(0, 0, 0, 0.651) solid 5px;
}

#historia h3 {
  font-size: 44px;
  margin: 2px;
}
#historia p {
  font-size: 30px;
}

#local {
  margin-bottom: 5%;
  margin-left: 10%;
}

/*fin de info local */

.pie-pagina {
  width: 100%;
  background-color: black;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}
.pie-pagina .grupo-1 .box h2 {
  color: red;
  margin-bottom: 25px;
  font-size: 30px;
}
.pie-pagina .grupo-1 .box {
  color: white;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: red;
  border-radius: 20%;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: brown;
}
.pie-pagina .grupo-2 {
  background-color: black;
  padding: 15px 10px;
  text-align: center;
  color: white;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
/*fin de foter*/

/* Bebidas */
.titulo {
  padding-top: 5%;
  font-size: 2.5rem;
  color: white;
  text-shadow: 8px 8px 8px red;
}

.one {
  background-color: rgb(231, 31, 31);
}

.two {
  background-color: rgb(55, 61, 59);
}

.bebida {
  width: 55%;
  height: 110%;
  border-radius: 15%;
  max-width: 100%;
  padding-bottom: 5%;
}

.img2 {
  float: right;
  margin-left: 3%;
}

.parrafo > p {
  margin-top: 2%;
  color: aliceblue;
  font-size: 110%;
}

.parrafo1 {
  float: right;
  margin-right: 2%;
}

.parrafo2 {
  float: left;
  margin-left: 2%;
}

.cajaGrande {
  border-radius: 5%;
  float: left;
  width: 21%;
  height: 28%;
  padding: 2%;
  overflow: hidden;
  margin: 2%;
  box-shadow: 10px 10px 10px whitesmoke;
  transition: transform 0.3s;
}

.cajaGrande:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px red;
}

@media (max-width: 1199px) {
  .cajaGrande {
    border-radius: 5%;
    float: left;
    width: 29%;
    height: 32%;
    overflow: hidden;
    margin: 1%;
    box-shadow: 10px 10px 10px whitesmoke;
    transition: transform 0.3s;
  }

  .cajaGrande:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px red;
  }

  .bebida {
    width: 40%;
    height: 95%;
    border-radius: 15%;
    max-width: 100%;
  }

  .img2 {
    float: right;
    margin-left: 1%;
  }

  .parrafo {
    font-size: 120%;
  }
}

@media (max-width: 999px) {
  .cajaGrande {
    border-radius: 5%;
    float: left;
    width: 36%;
    height: 45%;
    overflow: hidden;
    margin: 3%;
    box-shadow: 10px 10px 10px whitesmoke;
    transition: transform 0.3s;
    padding: 1.5%;
  }

  .cajaGrande:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px red;
  }

  .bebida {
    width: 50%;
    height: 95%;
    border-radius: 15%;
    max-width: 100%;
  }

  .img2 {
    float: right;
    margin-left: 1%;
  }

  .parrafo {
    font-size: 130%;
  }
}

@media (max-width: 800px) {
  .cajaGrande {
    border-radius: 5%;
    width: 42%;
    height: 20%;
    overflow: hidden;
    margin: 3%;
    box-shadow: 10px 10px 10px whitesmoke;
    transition: transform 0.3s;
  }

  .cajaGrande:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px red;
  }

  .bebida {
    width: 55%;
    height: 95%;
    border-radius: 15%;
    max-width: 100%;
  }

  .img2 {
    float: right;
    margin-left: 1%;
  }

  .parrafo {
    font-size: 80%;
  }
}

/*fin de bebidas*/

.Galeria {
  margin: 10px 20px;
  width: 350px;
  float: left;
}
div.Galeria img {
  width: 300px;
  height: 300px;
  border-radius: 20%;
}

div.Galeria:hover {
  border: 1px brown;
  transform: rotate(-3deg);
}

div.pie {
  text-align: center;
  color: white;
  padding: 10px;
}
